---
# tasks file for cleanup-role
- name: Verify if the cleanup directory is valid and exists
  stat:
    path: "{{ cleanup_dir }}"
  register: cleanup_dir_stat

- name: Throw an exception if the cleanup directory doesn't exist
  fail:
    msg: "Cleanup Directory '{{ cleanup_dir }}' doesn't exist on the target host"
  when: not cleanup_dir_stat.stat.exists

- name: Ensure archival directory exists
  file:
    path: "{{ archival_dir }}"
    state: directory
    mode: '0755'

- name: Find the files older than "{{ archival_days }}" for archival
  find:
    paths : "{{ cleanup_dir }}"
    age: "{{ archival_days }}d"
    file_type: file
    recurse: yes
  register: old_files
  when: cleanup_mode == 'archive'

- name: Archive older files
  command: mv "{{ item.path }}" "{{ archival_dir }}/"
  loop: "{{ old_files.files }}"
  when:
    - cleanup_mode == 'archive'
    - old_files.matched | int > 0
    - not ansible_check_mode

- name: Find archived files eligible for deletion
  find :
    paths: "{{ archival_dir }}"
    age: "{{ deletion_days }}d"
    file_type: file
    recurse: yes
  register: delete_files
  when: cleanup_mode == 'delete'

- name: Delete older files
  file:
    path: "{{ item.path }}"
    state: absent
  loop: "{{ delete_files.files }}"
  when:
    - cleanup_mode == 'delete'
    - delete_files.matched | int > 0
    - not ansible_check_mode